/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f9fafb;
  color: #111827;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
}

/* BUTTONS */
.btn {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn-dark {
  background: #0f172a;
  color: white;
}

.btn-light {
  background: #f3f4f6;
}

/* TAGS */
.tag {
  background: #f1f5f9;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  margin-right: 6px;
}
h1, h2, h3 {
  letter-spacing: -0.5px;
}

img {
  display: block;
}

/* smooth UI */
button {
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}